<!DOCTYPE html>
<html>
  <%- include('header') -%>
  <body>
    <h1>Log in - Trash App</h1>
    <form action="/login" method="post">
      <input type="submit" value="Submit" /><br />
    </form>
  </body>
</html>
