<!DOCTYPE html>
<html>
  <%- include('header') -%>
  <body>
    <h1>Trash App</h1>
    <p>Welcome to User Homepage</p>
    <a href="/user/scan">Scan</a>
    <a href="/user/redeem">Redeem Point</a>
    <a href="/user/logout">Logout</a>
  </body>
</html>
